html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  /* Space from this element (entire page) and others*/
  padding: 0;
  /*space from content and border*/
  /* border: solid #E7DFCD; */
  border: solid #E7DFCD;

  /* border-color: linear-gradient(to right, red, blue) !important; */
  border-width: 15px; /*thick*/
  overflow: auto;
  display: block;
  box-sizing: border-box;
  /* background: linear-gradient(to bottom, #4ca1af, #2c3e50); /* This sets the gradient background */
  /* background-color: #06141F; */
  background-color:   #171719;
  /* background-image: url("../assets/wordcloud.png");
  background-repeat: no-repeat;
  background-size: cover; */
  border: 10px solid transparent; /* Set a transparent border */
  border-image: linear-gradient(#1F2125,#E7DFCD ) 1; /* Replace with your gradient colors */

}

::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  border-left: solid #292828 !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #292828;
  background-color: #292828;
}
.navbar, a{

  color: #E7DFCD !important;
}